# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
unordered list
* List of popular languages for Data Science
* List of libraries used in data science
* List of Data Science Tools
* Basic Arithmetic Expressions

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Java
4. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib
4. Keras
5. Seaborn
6. Scikit-learn
7. Tensorflow

Exercise 6:

| Data Science Tools |
| ------------------ |
| Jupyter Notebook |
| Rstudio |
| Apache Spark |
| APache Flink |

### Below are a few examples of evaluating arithmetic expressions in Python

We are going to peform some arthematic operations in the cell.

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [14]:
# This will convert 200 minutes to hours by diving by 60
hrs = (200/60)
round(hrs, 2)

3.33

## Author
Sashi Kiran Maddineni